h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32pt;
    text-align: center;
}

input.text_input {
    width: 95%;
}

div.marquee {
    background-color: $MARQUEE_BACKGROUND_TOKEN$;
    color: $MARQUEE_FOREGROUND_TOKEN$ ;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 32pt;
}

div.input_field {
    padding-top: 10px;
    padding-bottom: 10px;
}
div.header {
    background-color: rgb(56, 108, 162);
    color: rgb(255,255,255);
}

.input_button {
    padding-left: 10px;
    padding-right: 10px;
}

div.input_form {
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}

p {
    -moz-animation: marquee 15s linear infinite;
    -webkit-animation: marquee 15s linear infinite;
    animation: marquee 15s linear infinite;
    padding-left: 15px;
    padding-right: 15px;
}

@-moz-keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@-webkit-keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }

    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
